language:
  - clojure
lein: lein2
before_script:
  - lein2 classpath
script:
  - lein2 test # solsort.sys.util solsort.sys.platform
  - lein2 cljsbuild once dist
  - lein2 bikeshed -m 100
  - lein2 kibit
lein: lein2
